---
import '../styles/global.css';
import Schema from '../components/Schema.astro';

interface Props {
	title: string;
	description?: string;
}

const { title, description = "Premium Car Glass Tinting and Interior Cleaning Services" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="manifest" href="/manifest.json" />
		<title>{title}</title>
    <Schema />
	</head>
	<body class="bg-slate-950 text-slate-50 font-sans antialiased">
		<slot />
	</body>
</html>
